@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Expert:</strong>   <a href="mailto:bkevin1052@gmail.com">bkevin1052@gmail.com</a><br />
    <strong>Expert:</strong> <a href="mailto:leslykarinadubon@yahoo.com">leslykarinadubon@yahoo.com</a>
</address>