@{

    ViewBag.Title = "Home Page";

}



<div class="jumbotron">

    <h1>ALBUM MUNDIAL</h1>

    <p class="lead">Laboratorio 4</p>

</div>



<div class="row">

    <div class="col-md-4">

    </div>

    <div class="col-md-4">

        <h2>Ir a Album</h2>

        <p>En esta seccion podra visualizar el Album</p>

        <p>@Html.ActionLink("Ir al album", "Index", "Album")</p>

    </div>

    <div class="col-md-4">
    </div>

</div>

